# Rust
# Ignore everything in target, but keep the release executable

!/target/release/
/target/release/*
!/target/release/server.exe
!/target/release/server
!**/target
/target/*
!Cargo.lock

# WASM
# Ignore pkg metadata but keep the built WASM/JS outputs
/web/pkg/*
!/web/pkg/wasm.js
!/web/pkg/wasm_bg.wasm
/wasm/pkg
.wasm-checkouts

# OS specific
.DS_Store
Thumbs.db
*.swp
*.bak

# IDEs
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Environment
.env
.env.local

# Build artifacts
/build-out
/dist
